html {
  background-color: #FFF8DC;
}
.container {
	width: 50%;
  min-width: 300px;
	margin: 0px auto 0px auto;
	border: 1px solid black;
	text-align: center;
  padding-top: 10px;
}
.footer {
  width: 50%;
  min-width: 300px;
  margin: 0px auto 0px auto;
  text-align: center;
  margin-bottom: 30px;
  padding: 10px;
}
.results {
	margin-top: 20px;
  margin-bottom: 20px;
  width:100%;
}
.res_heading {
	font-size: 25px;
	font-weight: bold;
	margin-bottom: 10px;
}
.header {
  width: 60%;
  min-width: 350px;
  font-size: 32px;
  border: 1px solid black;
  margin: 0px auto 0px auto;
  text-align: center;
  padding: 5px;
  background-color: grey;
  color:black;
}
a:link, a:visited, a:active {
  outline: 0px none;
  color: grey;
  text-decoration: none;
  font-weight: bold;
}
a:hover {
  text-decoration: underline;
}
.special {
  font-weight: normal !important;
  color:black !important;
}